h4{
  color: white;
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
}
button{
  background-color: blue;
  color: black;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
